<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Units</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-list tappable *ngFor="let unit of unitsList$" [routerLink]="['/units', unit.id]">
		<ion-item>
			<ion-label>
				<h2>{{unit.name}}</h2>
				<p *ngIf="unit.devices.length > 0; else elseBlock">{{unit.devices[0].imei}}</p>
				<ng-template #elseBlock><p>No tracker</p></ng-template>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
