<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/login"></ion-back-button>
		</ion-buttons>
		<ion-title>Registration</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<form (ngSubmit)="register()" [formGroup]="credentials">
		<ion-item lines="full">
			<ion-label position="floating">Email</ion-label>
			<ion-input type="email" formControlName="email" placeholder="your@email.com"></ion-input>
			<ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is invalid</ion-note>
		</ion-item>

		<ion-item lines="full">
			<ion-label position="floating">Password</ion-label>
			<ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
			<ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password needs to be 6 characters</ion-note>
		</ion-item>

		<ion-item lines="full">
			<ion-label position="floating">Password confirmation</ion-label>
			<ion-input type="password" formControlName="confirmPassword" placeholder="Password again"></ion-input>
			<ion-note slot="error" *ngIf="credentials.hasError('notSame')">Passwords need to be the same</ion-note>
		</ion-item>

		<ion-button type="submit" expand="block" [disabled]="!credentials.valid">Register</ion-button>
	</form>
</ion-content>
