<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/units"></ion-back-button>
		</ion-buttons>
		<ion-title>{{unit?.name}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ng-container *ngIf="unit">
		<ion-list>
			<ion-item>
				<ion-label position="stacked"><strong>Name:</strong></ion-label>
				<ion-text>{{unit.name}}</ion-text>
			</ion-item>

			<ion-item>
				<ion-label position="stacked"><strong>Username:</strong></ion-label>
				<ion-text>{{unit.username}}</ion-text>
			</ion-item>

			<ion-item *ngIf=" availableDevices">
				<ion-label position="stacked"><strong>Trackers:</strong></ion-label>
				<ion-select [(ngModel)]="selectedDevice" placeholder="Select a tracker">
					<ion-select-option *ngIf="unitInitialDevice" [value]="unitInitialDevice">{{unitInitialDevice.imei}}</ion-select-option>
					<ion-select-option *ngFor="let device of availableDevices;" [value]="device">{{device.imei}}</ion-select-option>
				</ion-select>
			</ion-item>
		</ion-list>

		<ion-button class="ion-padding" *ngIf="unitInitialDevice" expand="block" color="danger" (click)="removeDevice()">Remove tracker</ion-button>

		<ion-button class="ion-padding"
		            *ngIf="(unitInitialDevice && selectedDevice && unitInitialDevice.imei !== selectedDevice.imei) || (unitInitialDevice === null && selectedDevice)" expand="block"
		            color="primary" (click)="saveChanges()">Update
		</ion-button>
	</ng-container>
</ion-content>
