<ion-app>
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle autoHide="false" *ngFor="let page of pages">
          <ion-item [routerLink]="page.url" routerDirection="root" [class.active-item]="selectedPath === page.url">
            {{ page.title }}
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-button (click)="logout()">
            <ion-icon slot="icon-only" name="log-out"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-app>
