<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Reservations</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<ion-searchbar animated="true" placeholder="Search" [(ngModel)]="searchTerm" (ionChange)="search()"></ion-searchbar>

	<ion-list *ngIf="futureReservations.length > 0; else noReservations">

		<ion-item *ngFor="let reservation of futureReservations" [routerLink]="['/reservations', reservation.id]">
			<ion-label>
				<h2 *ngIf="reservation.unit; else noUnit">{{reservation.unit.name}}</h2>
				<ng-template #noUnit>
					<h2>{{reservation.unitId}}</h2>
				</ng-template>
				<p>{{reservation.startTime.toDate() | date:'dd/MM/yy, H:mm'}}</p>
				<p>{{reservation.endTime.toDate() | date: 'dd/MM/yy, H:mm'}}</p>
			</ion-label>
		</ion-item>
	</ion-list>
	<ng-template #noReservations>
		<ion-item>
			<ion-label>
				<h2>No reservations</h2>
			</ion-label>
		</ion-item>
	</ng-template>
</ion-content>
